
<p id="notice"><%= notice %></p>
<h1>Sections</h1>

<%= form_tag(sections_path, method: :get) do %>
  Name <%= text_field_tag :number, params[:number] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Number</th>
      <th>Course</th>
      <th>Roomnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.semester %></td>
        <td><%= section.number %></td>
        <td><%= section.course.name %></td>
        <td><%= section.roomnumber %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
